/* IMPORTS */
@import 'variables';
@import 'functions';

@import 'reset';
@import 'fonts';

@import 'generals';

@import 'media';
@import 'print';

/* TOP GAP */
#top_gap { height:1.5em; }

/* UPPER MENU */
#upper_menu {
	a, a:link, a:active, a:visited {
		transition:color 1s ease;
	}
	a:hover {
		color:white;
	}
	h1 {
		position:absolute;
		left:50%;
		top:28px;
		margin-left:-25px;
		width:50px;
		img {
			width:100%;
		}
	}
	nav {
		display:inline-block;
		border-bottom:1px solid @basecolor;
		padding-bottom:1em;
		color:@basecolor;
		a {
			font-size:0.5em;
			padding:0em 0.5em;
		}
	}
	a[class^='button'] {
		margin-bottom:1em;
	}
	.simple_link {
		.secondaryfont;
		a {
			line-height:1.5em;
			border-bottom:1px solid white;
			font-weight:bold;
		}
	}
	.big,
	.less_big {
		line-height:1.3em;
	}
	.big {
		font-size:2em;
	}
	.less_big {
		font-size:0.9em;
	}
	.small {
		font-size:0.4em;
	}
}
#upper_menu,
#banner {
	padding:2em 1em;
}

/* PORTFOLIO */
#portfolio {
	.title {
		font-size:1em;
	}
	ul {
		li {
			display:inline-block;
			width:250px;
			margin:5px 10px;
			a {
				display:block;
				width:100%;
				height:100%;
				img {
					width:100%;
					vertical-align:middle;
				}
			}
		}
	}
}

/* ABOUT */
.about_me,
.about_img {
	font-size:0.7em;
	.secondaryfont;
	vertical-align:top;
	display:inline-block;
	line-height:1.5em;
	box-sizing:border-box;
	padding-left:1em;
}
.about_img {
	text-align:right;
	padding-top:2.6em;
	width:@about_img-width;
	img {
		.border-radius(0.25em);
		width:100%;
	}
}
.about_me {
	padding-right:1em;
	text-align:left;
}

/* CONTACTS */
.form_on_white {
	display:inline-block;
	box-sizing:border-box;
	width:100%;
	color:white;
	padding:0.5em 1em;
	ul {
		max-width:800px;
		width:100%;
		li {
			box-sizing:border-box;
			padding:0.25em 0em;
		}
	}
}
input, textarea {
	.secondaryfont;
	line-height:1.3em;
	background-color:rgba(245, 245, 245, 1);
	.border-radius(0.25em);
	font-size:0.8em;
	box-sizing:border-box;
	padding:0.5em 1em;
	width:calc(100% - 2px);
	border:1px solid @basecolor;
	transition:box-shadow 0.5s ease;
	&:focus {
		box-shadow:0 0 2px 0 @basecolor;
	}
}
textarea {
	min-height:6em;
	resize:vertical;
}
input[type='submit'] {
	.button_colored;
	width:50%;
	font-size:0.6em;
	padding:1em;
}

/* SOCIAL */
#social {
	padding:1em;
}

/* BOTTOM FOOTER */
#bottom_footer {
	padding:2em 1em 1em 1em;
	font-size:0.5em;
	text-shadow:none;
	.secondaryfont;
	line-height:1.3em;
	color:#B8C0D1;
}
#website_version {
	padding:0.25em 0em;
	font-size:0.8em;
}