/* LESS VARIABLES */
/* LESS FUNCTIONS */
.basefont {
  font-family: 'DK Hokitika';
  font-weight: 300;
}
.secondaryfont {
  font-family: 'Open Sans';
  font-weight: 300;
}
/* FONTS DEFINITIONS */
@font-face {
  font-family: 'DK Hokitika';
  src: url('../fonts/DK Hokitika-webfont.eot');
  src: url('../fonts/DK Hokitika-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/DK Hokitika-webfont.woff2') format('woff2'), url('../fonts/DK Hokitika-webfont.woff') format('woff'), url('../fonts/DK Hokitika-webfont.ttf') format('truetype'), url('../fonts/DK Hokitika-webfont.svg#dk_hokitikaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* GENERALS */
a,
a:link,
a:active,
a:visited {
  color: inherit;
  transition: color 1s ease;
}
a:hover {
  color: white;
}
body {
  font-family: 'DK Hokitika';
  font-weight: 300;
  line-height: 1em;
  color: white;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.title {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  font-family: 'DK Hokitika';
  font-weight: 300;
}
.button {
  display: inline-block;
  box-shadow: 0px 5px 0px white;
  border: 1px solid white;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  font-size: 0.6em;
  padding: 0.5em 1em;
  margin-bottom: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
ul {
  list-style: none;
  margin: 0 auto;
  margin-top: 1em;
  max-width: 1080px;
}
#about,
#social,
#upper_menu {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about,
#contacts,
#portfolio {
  padding: 3em 1em;
}
#contacts,
#social {
  font-size: 0.7em;
}
#portfolio,
#contacts {
  color: #364054;
}
#contacts,
#portfolio {
  background-color: #f5f5f5;
}
/* TOP GAP */
#top_gap {
  height: 1.5em;
}
/* UPPER MENU */
#upper_menu h1 {
  position: absolute;
  left: 50%;
  top: 28px;
  margin-left: -25px;
  width: 50px;
}
#upper_menu h1 img {
  width: 100%;
}
#upper_menu nav {
  display: inline-block;
  border-bottom: 1px solid #364054;
  padding-bottom: 1em;
  color: #364054;
}
#upper_menu nav a {
  font-size: 0.5em;
  padding: 0em 0.5em;
}
#upper_menu #banner .big,
#upper_menu #banner .less_big {
  line-height: 1.3em;
}
#upper_menu #banner .big {
  font-size: 2em;
}
#upper_menu #banner .less_big {
  font-size: 0.9em;
}
#upper_menu,
#banner {
  padding: 2em 1em;
}
/* PORTFOLIO */
#portfolio .title {
  font-size: 1em !important;
}
#portfolio ul li {
  display: inline-block;
  width: 250px;
  margin: 5px 10px;
}
#portfolio ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#portfolio ul li a img {
  width: 100%;
  vertical-align: middle;
}
/* ABOUT */
.about_me,
.about_img {
  font-size: 0.7em;
  font-family: 'Open Sans';
  font-weight: 300;
  vertical-align: top;
  display: inline-block;
  line-height: 1.5em;
  box-sizing: border-box;
  padding-left: 1em;
}
.about_img {
  text-align: right;
  padding-top: 2.6em;
  width: 40%;
}
.about_img img {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  width: 100%;
}
.about_me {
  padding-right: 1em;
  text-align: left;
}
/* MEDIA */
@media all and (min-width: 801px) {
  body {
    font-size: 35px;
  }
  #upper_menu {
    background-image: url('../images/background.jpg');
  }
  #about,
  #social {
    background-image: url('../images/background_about1.jpg');
  }
  #about,
  #social,
  #upper_menu {
    background-attachment: fixed;
  }
  .about_me,
  .about_img {
    max-width: 500px;
  }
  .about_me {
    width: 59.8%;
  }
}
@media all and (max-width: 800px) {
  #upper_menu {
    background-image: url('../images/background_small.jpg');
  }
  #about,
  #social {
    background-image: url('../images/background_about_small.jpg');
  }
  .about_me {
    width: 100%;
    padding-left: 1em;
  }
  .about_img {
    display: none;
  }
}
@media all and (min-width: 501px) and (max-width: 800px) {
  body {
    font-size: 30px;
  }
  #social img {
    width: 48px;
  }
}
@media all and (max-width: 500px) {
  body {
    font-size: 25px;
  }
  #social img {
    width: 48px;
  }
}
/* CONTACTS */
.form_on_white {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  color: white;
  padding: 0.5em 1em;
}
.form_on_white ul {
  max-width: 800px;
  width: 100%;
}
.form_on_white ul li {
  box-sizing: border-box;
  padding: 0.25em 0em;
}
input,
textarea {
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 1.3em;
  background: white;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  font-size: 0.8em;
  box-sizing: border-box;
  padding: 0.5em 1em;
  width: calc(98%);
  border: 1px solid #364054;
  transition: box-shadow 0.5s ease;
}
textarea {
  min-height: 6em;
  resize: vertical;
}
input:not([type='submit']),
textarea {
  font-family: 'DK Hokitika';
  font-weight: 300;
}
input[type='submit'] {
  font-weight: 400;
  border-bottom-width: 5px;
  width: 50%;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 2px 0 #364054;
}
/* PLACEHOLDER FONT TRICK */
::-webkit-input-placeholder {
  font-family: 'Open Sans';
  font-weight: 300;
}
:-moz-placeholder {
  font-family: 'Open Sans';
  font-weight: 300;
}
::-moz-placeholder {
  font-family: 'Open Sans';
  font-weight: 300;
}
:-ms-input-placeholder {
  font-family: 'Open Sans';
  font-weight: 300;
}
/* SOCIAL */
#social {
  padding: 1em;
}
/* BOTTOM FOOTER */
#bottom_footer {
  padding: 2em 1em 1em 1em;
  font-size: 0.5em;
  text-shadow: none;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 1.3em;
  color: #B8C0D1;
}
#website_version {
  padding: 0.25em 0em;
  font-size: 0.8em;
}
